<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID счета</th>
          <th scope="col">ID владельца</th>
          <th scope="col">Баланс счета</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts">
          <td>{{ account.id }}</td>
          <td>{{ account.clientId }}</td>
          <td>{{ account.balance }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-addaccount></app-addaccount>
  <app-addtransaction></app-addtransaction>
</div>